{% extends 'base-admin.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nomLieuReception) }}

    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}