{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h2>Ajouter un lieu de réception</h2>
        {{ form_start(form) }}
        {{ form_row(form.nomLieuReception) }}

        <button type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}