{% extends 'base-admin.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.nomNatureDeplacement) }}

<button type="submit">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}