{% extends 'base-admin.html.twig' %}

{% block body %}
   <div class="wrapper">
        <h2>Ajouter une nature de trajet</h2>
        {{ form_start(form) }}
        {{ form_row(form.nomNatureDeplacement) }}

        <button type="submit">Ajouter</button>
        {{ form_end(form) }}
   </div>
{% endblock %}