{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto text-center">
                <h1>Bienvenue sur</h1><br>
                <img src="{{ asset('common/img/logo-zeniboard.jpg') }}" width="240px">
                <br><br>
                <a href="#">Entrer !</a>
            </div>
        </div>
    </div>
{% endblock %}
