{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="wrapper dashboard">
        <h2>Tous les conducteurs</h2>
        <a href="{{ path('newDriver') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter un conducteur</a>
    </div>
{% endblock %}