{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="wrapper dashboard">
        <h2>Tous les véhicules</h2>
        <a href="{{ path('newVehicle') }}" class="btn btn-success" role="button" aria-pressed="true">+ Ajouter un trajet</a>
    </div>
{% endblock %}