{%  extends 'base.html.twig' %}

{% block body %}
    <nav>
        <a class="btn btn-primary"  href="{{ path('logout') }}" type="button" class="btn btn-outline-secondary btn-sm">Déconnexion</a>
    </nav>

    <div class="container">


        <div class="row">
            <img class="img-fluid" src="{{ asset('common/img/logo-zeniboard.jpg') }}" alt="">
            <h1>Formulaire de création de trajet</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
