{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="row">
        <ul class="col-lg-8 col-lg-offset-2">
            <h2>Mentions légales</h2>

            <p>
                <b>ZeniBoard</b> est un projet de formation conçu et réalisé par :<br>
                <ul>
                    <li>Richard CAPON</li>
                    <li>Etienne CHAUCHAIX</li>
                    <li>Klément GRISEL</li>
                </ul>
                <br>
                Le site <b>ZeniBoard</b> est hébergé par :<br><br>
                <ul>
                    <li>ENI Ecole</li>
                    <li>ZAC du Moulin Neuf - 2 B, rue Benjamin Franklin</li>
                    <li>BP 80009 - 44801 Saint-Herblain</li>
                    <li>ecole@eni-ecole.fr - Tél. 02 28 03 17 28</li>
                    <li>ENI Ecole - RCS Nantes : 392 807 061</li>
                    <li>Non assujetti à la TVA - Capital Social : 40 000 €</li>
                </ul>
            </p>
        </div>
    </div>
{% endblock %}